


<h1 class="text-center">Home Page</h1>


<div class="mt-5 rounded container-fluid d-flex justify-content-center align-items-center">
    <div class="container bg-light d-flex align-items-center justify-content-center " style="height:50vh">

        <div class="row text-center w-100">

            <div class="col-6">
                <h4 class="mb-4">Go to Categoire section:</h4>
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-success">Categories</a>
            </div>

            <div class="col-6">
                <h4 class="mb-4">Go to Products section:</h4>
                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-success">Products</a>

            </div>
        </div>

    </div>

</div>
